<html xmlns:th="http://www.thymeleaf.org">
<head>
    
    <meta charset="utf-8">
            <title>被删除的帖子</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/style/style_5_common.css}" href="style/style_5_common.css" >
    <link rel="stylesheet" type="text/css" th:href="@{~/style/style_5_forum_viewthread.css}" href="style/style_5_forum_viewthread.css">
    <link id="css_forum_calendar" type="text/css" rel="stylesheet" th:href="@{~/style/style_5_forum_calendar.css}" href="style/style_5_forum_calendar.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/js.cookie-2.2.0.min.js"></script>

    <style type="text/css">
        #postlist img {
            max-width: 100%;
        }
    </style>
</head>


<body id="nv_forum" class="pg_viewthread">
                <!-- Quick Services -->
                <div class="wrap quick_services">
                    <ul class="user_links" style="background:rgb(87, 116, 10)">
                        <li class="my has-login" style="display:none;">
                            <a  id="my-space" href="javascript:void(0)">
                                个人中心
                            </a>
                        </li>
                        <li class="my has-login" style="display:none;">
                            <a id="logout-btn" href="javascript:void(0)">
                                注销
                            </a>
                        </li>
                        <li class="my has-login" style="display:none;">
                            <a id="my-msg" href="javascript:void(0)">
                                消息<span></span>
                            </a>
                        </li>
                        <li class="my not-login">
                            <a href="/regist">
                                注册
                            </a>
                        </li>
                        <li class="my not-login">
                            <a href="/login">
                                登录
                            </a>
                        </li>
                        <li><a th:href="@{~/}"><i class="subject" style="    background: rgb(87, 116, 10);"><b></b></i>主页</a></li>
                        <li><a href="javascript:void(0);"><i class="subject" style="    background: rgb(87, 116, 10);"><b></b></i>帖子</a></li>
                        <li><a href="javascript:void(0);"><i class="reply" style="    background: rgb(87, 116, 10);"><b></b></i>回帖</a></li>
                        <li><a href="javascript:void(0);"><i class="newscommon" style="    background: rgb(87, 116, 10);"><b></b></i>评论</a>
                        </li>
                    </ul>
                </div>
            <!-- Search box -->
               <div class="wrap search_box" id="search_box" style="background:rgb(103, 136, 12)">
                    <div class="field_panel curr_owner">
                        <div class="type_panel">
                            <span class="type">
                                <em class="google" style="background:rgb(103, 136, 12)">考研信息</em>
                                <em class="owner" style="background:rgb(255, 255, 255)">搜索</em>
                            </span>
                        </div>
                        <div class="sch_panel owner_sch">
                            <form action="https://s.feng.com/index.php" autocomplete="off" id="scbar_form" method="get" target="_blank">
                                <ul>
                                    <li class="txt_field">
                                        <span class="txt" style="padding-right: 2px; padding: 2px;width: 300px;">
                                            <input autocomplete="off" class="ac_input" id="scbar_txt" name="srchtxt" type="text" style="height:26px;width: 302px;">
                                        </span>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                

                </div>

        <!-- Container -->
        <div id="wp" class="wp">
             <div id="pt" class="bbs_info crumbs">
                    <div class="crumbs_inner" style="background:rgb(103, 136, 12)">
                      <a href="javascript:void(0);"  title="首页">论坛首页</a>
                      <em style="background:rgb(103, 136, 12)">»</em>
                      <a href="javascript:void(0);">某某板块</a>        
                    </div>
                </div>
                <div id="ct" class="wp cl re_ct">      
                   
                 <div id="postlist" class="pl bm">
                    <table cellspacing="0" cellpadding="0" class="pl_tit_table"  style="background:rgba(170, 223, 26, 0.589)">
                        <tbody>
                            <tr>
                                <td class="plc ptm pbn vwthd">
                                    <div class="pl_tit_panel">
                                        <h1 class="ts"><span id="thread_subject">不存在的帖子</span></h1> 
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <div id="post_183416611">
                    <table id="pid183416611" class="plhin" summary="pid183416611" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="pls" rowspan="2">
                                    <div class="pls_panel">
                                        <div id="favatar183416611" class="pls favatar">
                                            <i class="pl_bg pl_arrow"></i>
                                            <a name="newpost"></a> 
                                            <a name="lastpost"></a>
                                            <div class="pi">
                                                <div class="authi">
                                                    <a>未知</a>
                                                </div>
                                            </div>
                                            <div class="user_props">
                                                <div class="avatar" data-cardid="userinfo183416611">
                                                    <a>
                                                    <img src="https://face.feng.com/data/avatar/018/10/91/81_avatar_middle.jpg">
                                                    </a>
                                                </div>
                                                <p style="font-size:10px">级别: 
                                                    <em>
                                                        <a  style="font-size:10px">未知</a>
                                                    </em>
                                                </p>
                                                <p>
                                                    <span id="g_up183416611" onmouseover="showMenu({'ctrlid':this.id, 'pos':'12!'});"></span>
                                                </p>
                                                <dl class="pil cl">
                                                    <dt style="font-size:10px">帖子</dt>
                                                    <dd>
                                                        <a  style="font-size:10px">未知</a>
                                                    </dd>
                                                    <dt style="font-size:10px">经验</dt>
                                                    <dd style="font-size:10px">未知</dd>
                                                </dl>
                                            </div>
                                            <ul class="xl xl2 o cl">
                                                <li class="pm2">
                                                    <a  style="font-size:10px">发消息</a>
                                                </li>                        
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td class="pl_bg pl_bg_tl">
                                    <i class="pl_bg"></i>
                                </td>
                                            
                                <td class="plc">
                                    <div class="pl_bg pl_bg_tc">
                                        <i class="pl_bg f_l"></i>
                                        <i class="pl_bg f_r"></i>
                                    </div>
                                    <div class="pct">
                                        <div class="pcb">
                                            <div class="t_fsz">
                                                <table cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="t_f" id="postmessage_183416611">
                                                                <p style="font-size:20px; color: red ;font-weight:300;">本帖子已被删除！</p>
                                                                <a href="/" style="text-align:center;margin:0 auto;">点此跳回主页 或 <span id="countdown-time"></span> s后自动跳回</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="comment_183416611" class="cm"></div>
                                            <div id="post_rate_div_183416611"></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="pl_bg pl_bg_tr"><i class="pl_bg"></i></td>
                            </tr>
                            <tr>
                                <td class="pl_bg pl_bg_ml"><i class="pl_bg"></i></td>
                                <td class="plc plm">
                                <div id="p_btn" class="mbw hm cl"></div>
                                    <div class="a_pb">
                                        <a href="#" target="_blank">
                                            <img src="https://yes1.feng.com/view.php?what=zone:102&amp;n=abf80c7f" border="0" alt="">
                                        </a>
                                    </div>
                                </td>
                                <td class="pl_bg pl_bg_mr"><i class="pl_bg"></i></td>
                            </tr>
                            <tr id="_postposition183416611" class="pl_pos_ad">
                                <td class="pls"></td>
                                <td class="pl_bg pl_bg_ml">
                                    <i class="pl_bg"></i>
                                </td>
                                <td class="plc"></td>
                                <td class="pl_bg pl_bg_mr">
                                    <i class="pl_bg"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="pls"></td>
                                <td class="pl_bg pl_bg_ml">
                                    <i class="pl_bg"></i>
                                </td>
                                <td class="pl_bg pl_bg_mr">
                                    <i class="pl_bg"></i>
                                </td>
                            </tr>
                            <tr class="ad">
                                <td class="pls"></td>
                                <td class="pl_bg pl_bg_bl">
                                    <i class="pl_bg"></i>
                                </td>
                                <td class="plc">
                                    <div class="pl_bg pl_bg_bc">
                                        <i class="pl_bg f_l"></i>
                                        <i class="pl_bg f_r"></i>
                                    </div>
                                </td>
                                <td class="pl_bg pl_bg_br">
                                    <i class="pl_bg"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
</div>
</div>
<script type="text/javascript" src="/js/delete-post.js"></script>
</body>
</html>